.modal.fade {
    display: none;
  }
  .modal.show.d-block {
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
  .fa {
    color: var(--primary-effect-color);
    /* color: #000; */
    font-weight: bold;
    font-size: 5rem;
  }

  .modal {
    z-index: 2050; /* Ensure this is higher than other modals */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }