<form [formGroup]="urlForm" class="form-inline justify-content-center pt-2" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter a link to shorten it..." formControlName="url"
                [ngClass]="{'is-invalid': url?.touched && url?.invalid}">
            <div class="input-group-append">
                <button class="btn btn-info btn-block btn-theme-primary" [disabled]="urlForm.invalid">Shorten URL ></button>
            </div>
        </div>
    </div>
</form>
<div class="text-danger pt-2" *ngIf="url?.touched && url?.invalid">
    <div *ngIf="url?.errors?.['required']">URL is required</div>
    <div *ngIf="url?.errors?.['pattern']">Please enter a valid URL</div>
</div>