header {
    height: 100px;
    width: 100%;
}

.logo {
    width: 80px;
    height: 80px;
}

.title-window {
    font-size: 3em;
    line-height: 80px;
}

.title {
    font-size: 1.5em;
    line-height: 80px;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
}

.container {
    flex: 1;
}

.centered-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 100%;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
}

.left {
    display: flex;
    text-align: left;
    align-items: center;
}

.middle {
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right a {
    text-decoration: none;
}

.btn-theme-primary, .btn-theme-secondary {
    padding: 4px 10px;
}

.btn-theme-primary:hover:not(:disabled) {    
    color: var(--primary-color);
    background-color: var(--primary-effect-color);
    border: solid 1px var(--primary-effect-color);
    border-bottom: solid 5px var(--primary-effect-color);
}

/* 
.auth-buttons {
    margin: 8px 0px 0px 8px;
    padding: 5px 10px;
    color: #ecf0f1;
    cursor: pointer;
  }

  .user-menu {
    position: relative;

    .user-icon {
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }

    .user-dropdown {
      position: absolute;
      right: 0;
      background-color: #ecf0f1;
      color: #2c3e50;
      padding: 10px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  } */