<header class="fixed-top bg-white">
    <div [ngClass]="{'centered-row': !isWindow, 'row': isWindow}">
      <div class="container left">
        <a href="#" class="btn">
          <img class="logo" src="../../../../assets/img/logo.png" alt="Sticky Linkz">
        </a>
        <div class="lobster-font" [ngClass]="{'title': !isWindow, 'title-window': isWindow}">Sticky Linkz</div>
        
      </div>
      <div class="container right">
        
    <div class="auth-buttons" *ngIf="!userData">
        <button (click)="login()">Login</button>
        <button (click)="signup()">Sign Up</button>
      </div>
      <div class="user-menu" *ngIf="userData">
        <img [src]="userData.photoURL" alt="User Image" class="user-icon" (click)="toggleMenu()">
        <div class="user-dropdown" *ngIf="menuOpen">
          <p>{{ userData.displayName }}</p>
          <p>{{ userData.email }}</p>
          <button (click)="logout()">Logout</button>
        </div>
      </div>
      </div>
    </div>
  </header>