<header>
    <div [ngClass]="{'centered-row': !isWindow, 'row': isWindow}">
      <div class="container left">
        <a href="#" class="btn">
          <img class="logo" src="../../../../assets/img/logo.png" alt="Sticky Linkz">
        </a>
        <div class="lobster-font" [ngClass]="{'title': !isWindow, 'title-window': isWindow}">Sticky Linkz</div>
        
      </div>
      <div class="container right">
        
    <div class="auth-buttons" *ngIf="!userData">
        <button class="btn-theme-primary" (click)="login()"
        data-toggle="tooltip" data-placement="top" 
        data-toggle="modal"
        data-target="#authModal" title="Login with Google"
        > Log In </button>
        <button class="btn-theme-secondary ml-2" (click)="signup()"
        data-toggle="tooltip" data-placement="top" 
        data-toggle="modal"
        data-target="#authModal"title="Sign Up with Google"
        > Sign Up </button>
      </div>
      <div class="user-menu" *ngIf="userData">
        <img [src]="userData.photoURL" alt="User Image" class="user-icon" (click)="toggleMenu()">
        <div class="user-dropdown" *ngIf="menuOpen">
          <p>{{ userData.displayName }}</p>
          <p>{{ userData.email }}</p>
          <button (click)="logout()">Logout</button>
        </div>
      </div>
      </div>
    </div>
  </header>

  <!-- Utilities -->
  <app-login [action]="this.action"></app-login>
<app-spinner></app-spinner>