<div class="modal fade" id="urlFormModal" tabindex="-1" role="dialog" aria-labelledby="urlFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="urlFormModalLabel">{{action}} URL</h5>
                <button id="closeModal" type="button" class="btn-close btn-theme-primary" data-dismiss="modal" aria-label="Close" 
                (click)="onExit()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="urlForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="long_url" class="form-label">Long URL<span class="text-danger">*</span></label>
                        <input type="text" id="long_url" class="form-control" formControlName="long_url"
                        [ngClass]="{'is-invalid': urlForm.get('long_url')?.touched && urlForm.get('long_url')?.invalid}">
                        <div *ngIf="urlForm.get('long_url')?.invalid && (urlForm.get('long_url')?.dirty || urlForm.get('long_url')?.touched)">
                            <small class="text-danger" *ngIf="urlForm.get('long_url')?.errors?.['required']">Long URL is required.</small>
                            <small class="text-danger" *ngIf="urlForm.get('long_url')?.errors?.['pattern']">Invalid URL format.</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="active" class="form-label" aria-required="true">Active<span class="text-danger">*</span></label>
                        <div>
                            <input type="radio" id="active_true" [value]="true" formControlName="active"> 
                            <span class="ml-1">Yes</span>
                            <input class="ml-2" type="radio" id="active_false" [value]="false" formControlName="active"> 
                            <span class="ml-1">No</span>
                        </div>
                        <div *ngIf="urlForm.controls['active'].invalid && (urlForm.controls['active'].dirty || urlForm.controls['active'].touched)">
                            <small class="text-danger" *ngIf="urlForm.get('active')?.errors?.['required']">Active status is required.</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="notes" class="form-label">Notes</label>
                        <textarea id="notes" class="form-control" formControlName="notes"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="expire_at_datetime" class="form-label">Expire At DateTime</label>
                        <input type="datetime-local" id="expire_at_datetime" class="form-control"
                            formControlName="expire_at_datetime">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-theme-primary" data-dismiss="modal" (click)="onExit()">Close</button>
                        <button type="submit" class="btn btn-theme-secondary" [disabled]="urlForm.invalid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>