<div class="container">
    <h1 class="heading">Make URLs Short and Crisp.</h1>
    <p>
      <span class="lobster-font">Sticky Linkz</span> 
      : The ultimate link shortener for tracking, branding, and sharing the shortest URLs in the world!
    </p>
     <!-- Url Input container -->
      <app-urlshortener (shortenedUrlData)="shortenedUrlData($event)"></app-urlshortener>

      <!-- URL list container -->
       <ng-container *ngIf="shortenedUrls.length > 0">
      <div *ngFor="let url of shortenedUrls" class="url-item">
        <div class="url-short">{{ url.short_url }}</div>
        <div class="url-long">{{ url.long_url }}</div>
        <div class="url-actions">
          <button class="stats-btn">Stats</button>
          <button class="edit-btn">Edit</button>
          <button class="copy-btn" (click)="copyToClipboard('Link Copied', url.short_url)">Copy Link</button>
        </div>
      </div>
    </ng-container>
  </div>
