<div class="container">
  <h1 class="heading">Make URLs Short and Crisp</h1>
  <p>
    <span class="lobster-font">Sticky Linkz</span>
    : The ultimate link shortener for tracking, branding, and sharing the
    shortest URLs in the world!
  </p>

  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn-theme-secondary"
    data-toggle="modal"
    data-target="#urlFormModal"
    (click)="openModal('Shorten', null)"
  >
    Shorten New URL >
  </button>
  <button
  type="button"
  class="btn-theme-primary ml-3"
  (click)="updateUrlList()"
  ><i class="fas fa-redo-alt"></i></button>
  <!-- URL list container -->
  
    <div class="container mt-5 mb-5">
      <table class="table">
        <tr>
          <th>Shortened URL</th>
          <th>Original URL</th>
          <th>Notes</th>
          <th>Active</th>
          <th>Expires At</th>
          <th>Actions</th>
        </tr>

        <tr *ngFor="let url of urlList">
          <td data-toggle="tooltip" data-placement="top" [title]="url.short_url">{{ url.short_url }}</td>
          <td data-toggle="tooltip" data-placement="top" [title]="url.long_url">{{ this.utils.truncateText(url.long_url, 20) }}</td>
          <td data-toggle="tooltip" data-placement="top" [title]="url.notes">{{ this.utils.truncateText(url.notes, 50) }}</td>
          <td [ngStyle]="{'color': this.urlService.isUrlActive(url) ? 'green' : 'red'}">
            <i class="fas fa-circle"></i>
          </td>
          <td>
            {{ this.utils.convertToLocaleDateTime(url.expire_at_datetime) }}
          </td>
          <td>
            <div class="url-actions">
              <button
                class="btn btn-theme-primary"
                (click)="generateQrCode(url)"
                data-toggle="tooltip"
                data-placement="top"
                data-toggle="modal"
                data-target="#qrCodeModal"
                title="QR Code"
              >
              <i class="fas fa-qrcode"></i>
              </button>
              <button
                class="btn btn-theme-primary"
                (click)="shareUrl(url)"
                data-toggle="tooltip"
                data-placement="top"
                data-toggle="modal"
                data-target="#shareUrlModal"
                title="Share"
              >
                <i class="fas fa-share"></i>
              </button>
              <button
                class="btn btn-theme-primary"
                (click)="editUrl(url)"
                data-toggle="tooltip"
                data-placement="top"
                data-toggle="modal"
                data-target="#urlFormModal"
                title="Edit"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button
                class="btn btn-theme-primary"
                (click)="copyUrlToClipboard('Link Copied', url.short_url)"
                data-toggle="tooltip"
                data-placement="top"
                title="Copy"
              >
                <i class="fas fa-copy"></i>
              </button>
              <button
                class="btn btn-theme-primary"
                (click)="deleteUrl(url)"
                data-toggle="tooltip"
                data-placement="top"
                title="Delete"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </tr>
        <ng-container *ngIf="urlList.length === 0"><p>No Records Found</p></ng-container>
      </table>
    </div>
</div>

<!-- Modal -->
<app-url-form
  [action]="this.action"
  [urlData]="this.urlData"
  (shortenedUrlData)="shortenedUrlData($event)"
  (updateUrlData)="updateUrlData($event)"
  (close)="closeModal()"
></app-url-form>

<app-share-url [urlData]="this.urlData"></app-share-url>
<app-qr-code [qrCodeValue]="this.urlData?.short_url || ''"></app-qr-code>